# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# specifically for if you use jenv
.java-version

# fabric

run/

# wasmtime-embedding native compiled libraries

src/main/Wasmtime-embedding/target
src/main/Wasmtime-embedding/Cargo.lock
src/main/resources/Wasmtime_embedding.dll
src/main/resources/Wasmtime_embedding.so
src/main/resources/Wasmtime_embedding.dylib
src/main/resources/libWasmtime_embedding.dll
src/main/resources/libWasmtime_embedding.so
src/main/resources/libWasmtime_embedding.dylib